<header>
    <h1>ManageMe - Twoje Centrum Zarządzania Projektami</h1>
</header>


<section>
    <p>Masz dość rozproszonych notatek, gubiących się zadań i chaosu w projektach? <strong>ManageMe</strong> to intuicyjna aplikacja internetowa, która pozwoli Ci zapanować nad Twoimi projektami i notatkami, zapewniając spokój i efektywność.</p>
</section>

<section>
    <h2>Kluczowe Funkcje:</h2>
    <ul>
        <li><strong>Łatwe Zarządzanie Projektami:</strong>
            <ul>
                <li>Twórz i organizuj projekty w jednym miejscu.</li>
                <li>Dodawaj dowolną liczbę notatek do każdego projektu.</li>
                <li>Miej pełny wgląd w postępy prac.</li>
            </ul>
        </li>
        <li><strong>Intuicyjny System Notatek:</strong>
            <ul>
                <li>Dziel notatki na trzy kategorie: "Aktualnie Wykonywane", "Oczekujące" i "Zamknięte".</li>
                <li>Szybko filtruj i przeglądaj notatki według statusu.</li>
                <li>Łatwo aktualizuj status notatek, przesuwając je między kategoriami.</li>
            </ul>
        </li>
        <li><strong>Bezpieczne Logowanie z Google:</strong>
            <ul>
                <li>Szybki i bezpieczny dostęp do aplikacji za pomocą konta Google.</li>
                <li>Zapomnij o zapamiętywaniu kolejnych haseł.</li>
                <li>Skoncentruj się na pracy, a nie na logowaniu.</li>
            </ul>
        </li>
        <li><strong>Dostęp z Każdego Miejsca:</strong>
            <ul>
                <li>Aplikacja dostępna z poziomu przeglądarki internetowej na dowolnym urządzeniu.</li>
                <li>Pracuj nad projektami w biurze, w domu i w podróży.</li>
            </ul>
        </li>
        <li><strong>Przyjazny Interfejs:</strong>
            <ul>
                <li>Intuicyjny i przejrzysty design, który ułatwia nawigację.</li>
                <li>Skup się na zadaniach, a nie na obsłudze aplikacji.</li>
            </ul>
        </li>
    </ul>
</section>

<section>
    <h2>Dla Kogo Jest Ta Aplikacja?</h2>
    <ul>
        <li>Freelancerzy i przedsiębiorcy zarządzający wieloma projektami.</li>
        <li>Zespoły projektowe poszukujące efektywnego narzędzia do współpracy.</li>
        <li>Osoby, które chcą zorganizować swoje zadania i notatki.</li>
        <li>Każdy kto ceni sobie porządek i efektywność.</li>
    </ul>
</section>

<section>
    <h2>Zacznij Już Dziś!</h2>
    <p>Dołącz do grona zadowolonych użytkowników <strong>ManageMe</strong> i przekonaj się, jak łatwe może być zarządzanie projektami. Zarejestruj się za pomocą konta Google i zacznij organizować swoje projekty już teraz!</p>
</section>