section{
    padding: 10px;
    h2{
        padding: 5px 0;
    }
    p{
        line-height: 24px;
    }
    ul{
        li{
            padding: 5px 0;
            ul{
                padding: 10px;
                list-style: none;
            }
        }
    }
}