@if( projectDetails ){
<div class="stories-list-header">
  <h1>Nazwa projektu: {{ projectDetails.name }}</h1>
  <p>Opis projektu: {{ projectDetails.description }}</p>
</div>
<div class="stories-list-container">
  <div class="stories-list-header-container">
    <form [formGroup]="storiesFilterForm">
      <mat-form-field appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option value="All">All</mat-option>
          @for (storyStatus of storyStatuses; track $index) {
          <mat-option [value]="storyStatus">{{ storyStatus }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </form>

    <div class="actions-container">
      <button
        class="add-story-btn"
        (click)="onAddStoryClick()"
        mat-raised-button
      >
        + Dodaj nową historyjkę
      </button>
    </div>
  </div>
  <div class="stories-list-content-container">
    @for (story of filteredStories; track $index) {
    <div class="story-item" (click)="onEditStoryClick(story._id)">
      <div class="story-main-content">
        <div class="story-title">
          <h6>{{ story.name }}</h6>
          <div class="story-tags">
            <div class="story-tag" [class]="story.priority">
              {{ story.priority }}
            </div>
            <div class="story-tag" [class]="story.status">
              {{ story.status }}
            </div>
          </div>
        </div>
        <p>{{ story.description }}</p>
      </div>
      <p class="story-created-at-content">
        {{ story.createDate | date : "YYYY-MM-dd" }}
      </p>
      <button
        mat-icon-button
        (click)="deleteStory($event, story._id)"
        class="delete-btn"
      >
        <fa-icon [icon]="faTrash" />
      </button>
    </div>
    }
  </div>
</div>
}
